
@media only screen and (max-width: 600px) {

    $screen-sm-min: 768px;
    $shadow: 0 2px 3px rgba(0, 0, 0, .2);
    $gray-border: darken(#f8f8f8, 10%);
    $gray-light: rgba(0, 0, 0, .35);
    $faded-yellow: lighten(#f1c40f, 40%);

    table {
      background-color: lightblue;
      table-layout: fixed;
      background: transparent;
      margin-bottom: 0;
      width: 100%;
      thead {
        display: none;
      }
      tbody {
        display: block;
      }
      tbody tr {
        box-shadow: $shadow;
        background: #fff;
        border-bottom: 1px solid $gray-border;
        cursor: pointer;
        display: block;
        padding: 15px 10px;
        margin: 0 0 10px 0;
      }
      tbody td {
        border: 0;
        display: block;
        // padding: 10px 10px 20px 40%;
        position: relative;
        &:first-of-type::after {
          visibility: hidden;
        }
        &:after {
          content: '';
          width: calc(100% - 30px);
          display: block;
          margin: 0 auto;
          height: 1px;
          background: $gray-border;
          position: absolute;
          left: 0;
          right: 0;
          top: -6px
        }
        &:before {
            color: $gray-light;
            text-transform: uppercase;
            font-size: .85em;
            content: attr(data-title);
            display: table-cell;
            font-weight: 500;
            height: 100%;
            left: 15px;
            margin: auto;
            vertical-align: middle;
            white-space: nowrap;
            width: 40%;
          }
      }
      thead th {
        text-transform: uppercase;
        font-size: .85em;
        color: $gray-light;
        letter-spacing: .5pt;
      }
    }
  }