<div *ngIf="showTable" [@fadeInOutTranslate] class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <i class="fa fa-align-justify"></i> item List
        </div>
        <div class="col-md-2 float-right card-right-button">
          <button type="button" class="btn btn-sm btn-primary" (click)="showTable = !showTable; editMode = false;">Add
            item</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name English</th>
            <th>Name Arabic</th>
            <th>Unit Price</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="itemList.length === 0">
            <td style="text-align: center;color: red" colspan="6">
              "No data found"
            </td>
          </tr>
          <tr *ngFor="let item of itemList">
            <td> {{ item.code }}</td>
            <td> {{ item.nameEn }}</td>
            <td> {{ item.nameAr }}</td>
            <td> {{ item.unitPrice }} {{ "JOD" }}</td>
            <td>
              <span *ngIf="item.status == 'ACTIVE'" class="badge badge-success">Active</span>
              <span *ngIf="item.status == 'INACTIVE'" class="badge badge-warning">Inactive</span>
            </td>
            <td>
              <button (click)='editItem(item)' type="button" class="btn btn-ghost-primary"><i
                  class="cil-pen"></i></button>
              <button (click)='activeOrInactive(item)' type="button" class="btn btn-ghost-warning"><i
                  class="cil-power-standby"></i></button>
              <button (click)='deleteItem(item)' type="button" class="btn btn-ghost-danger"><i
                  class="cil-trash"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10">
              <nav>
                <ul class="pagination">
                  <li *ngFor="let page of pages" (click)="onSelect(page)" [class.active]="page.pageName === activePage"
                    class="page-item">
                    <a class="page-link" href="javascript:void(0)">{{
                      page.pageName
                      }}</a>
                  </li>
                </ul>
              </nav>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


<form [formGroup]="itemForm" (ngSubmit)="save()">
  <div *ngIf="!showTable && !editMode" [@fadeInOutTranslate] class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <h6>Add item</h6>
          </div>
          <div class="col-md-2 float-right card-right-button">
            <button type="button" class="btn btn-sm btn-primary"
              (click)="showTable = !showTable; this.itemForm.reset();">Back</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label class="required" for="name">Name English</label><a href="https://translate.google.jo/"
                target="_blank"><i class="cil-translate"></i></a>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': itemForm.controls.nameEn.invalid && (itemForm.controls.nameEn.dirty || itemForm.controls.nameEn.touched)}"
                [formControl]="itemForm.controls['nameEn']" id="alias" placeholder="Enter Name English">
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.nameEn.errors && (itemForm.controls.nameEn.dirty || itemForm.controls.nameEn.touched)">
                <div *ngIf="itemForm.controls.nameEn.errors.required">Name in english required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="required" for="name">Name Arabic</label><a href="https://translate.google.jo/"
                target="_blank"><i class="cil-translate"></i></a>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': itemForm.controls.nameAr.invalid && (itemForm.controls.nameAr.dirty || itemForm.controls.nameAr.touched)}"
                [formControl]="itemForm.controls['nameAr']" id="alias" placeholder="Enter Name Arabic">
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.nameAr.errors && (itemForm.controls.nameAr.dirty || itemForm.controls.nameAr.touched)">
                <div *ngIf="itemForm.controls.nameAr.errors.required">Name in arabic required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="required" for="name">Unit Price</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': itemForm.controls.unitPrice.invalid && (itemForm.controls.unitPrice.dirty || itemForm.controls.unitPrice.touched)}"
                [formControl]="itemForm.controls['unitPrice']" id="alias" placeholder="Enter Unit Price">
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.unitPrice.errors && (itemForm.controls.unitPrice.dirty || itemForm.controls.unitPrice.touched)">
                <div *ngIf="itemForm.controls.unitPrice.errors.required">Unit price required</div>
                <div *ngIf="itemForm.controls.unitPrice.errors.pattern">Unit price invalid</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="required" for="ccmonth">Tax Type</label>
              <select
                [ngClass]="{'is-invalid': itemForm.controls.taxType.invalid && (itemForm.controls.taxType.dirty || itemForm.controls.taxType.touched)}"
                [formControl]="itemForm.controls['taxType']" class="form-control" id="region"
                (change)="taxTypeChange($event)">
                <option *ngFor="let taxType of taxTypeList" [value]="taxType.code">{{ taxType.name }}</option>
              </select>
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.taxType.errors && (itemForm.controls.taxType.dirty || itemForm.controls.taxType.touched)">
                <div *ngIf="itemForm.controls.taxType.errors.required">Tax type required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="required" for="name">Tax Value</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': itemForm.controls.tax.invalid && (itemForm.controls.tax.dirty || itemForm.controls.tax.touched)}"
                [formControl]="itemForm.controls['tax']" id="alias" placeholder="Enter Tax Percentage">
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.tax.errors && (itemForm.controls.tax.dirty || itemForm.controls.tax.touched)">
                <div *ngIf="itemForm.controls.tax.errors.required">Tax value required</div>
                <div *ngIf="itemForm.controls.tax.errors.pattern">Tax value invalid</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="required" for="ccmonth">Category</label>
              <select
                [ngClass]="{'is-invalid': itemForm.controls.categoryId.invalid && (itemForm.controls.categoryId.dirty || itemForm.controls.categoryId.touched)}"
                [formControl]="itemForm.controls['categoryId']" class="form-control" id="region">
                <option *ngFor="let category of categoryList" [value]="category.id">{{ category.nameEn }}</option>
              </select>
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.categoryId.errors && (itemForm.controls.categoryId.dirty || itemForm.controls.categoryId.touched)">
                <div *ngIf="itemForm.controls.categoryId.errors.required">Category required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="date-input">Deactivation Date</label>
              <input class="form-control" [formControl]="itemForm.controls['deactivationDate']" id="date-input"
                type="date" name="date-input" placeholder="date">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="name">Avatar</label>
              <input type="file" class="form-control" (change)="uploadAttachment($event.target.files,'avatar')"
                id="alias" placeholder="Upload item Image">
              <div class="image-warning">
                <div>Max size allowed 1MB, Accepted file types PNG, JPEG</div>
                <div *ngIf="this.itemForm.controls['avatar'].value">Uploaded File: <a
                    [href]="this.itemForm.controls['avatar'].value" target="_blank"><i
                      class="cil-cloud-download"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Description</label>
              <textarea [formControl]="itemForm.controls['description']" class="form-control" rows="4" cols="50">
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <button style="margin: 2px;" type="button" class="btn btn-primary px-4" (click)="save()">Save</button>
              <button style="margin: 2px;" type="button" class="btn btn-success px-4"
                (click)="showTable = !showTable; this.itemForm.reset();">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!showTable && editMode" [@fadeInOutTranslate] class="col-lg-12">

    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <h6>Update item</h6>
          </div>
          <div class="col-md-2 float-right card-right-button">
            <button type="button" class="btn btn-sm btn-primary"
              (click)="showTable = !showTable; this.itemForm.reset();">Back</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label class="required" for="name">Name English</label><a href="https://translate.google.jo/"
                target="_blank"><i class="cil-translate"></i></a>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': itemForm.controls.nameEn.invalid && (itemForm.controls.nameEn.dirty || itemForm.controls.nameEn.touched)}"
                [formControl]="itemForm.controls['nameEn']" id="alias" placeholder="Enter Name English">
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.nameEn.errors && (itemForm.controls.nameEn.dirty || itemForm.controls.nameEn.touched)">
                <div *ngIf="itemForm.controls.nameEn.errors.required">Name in english required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="required" for="name">Name Arabic</label><a href="https://translate.google.jo/"
                target="_blank"><i class="cil-translate"></i></a>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': itemForm.controls.nameAr.invalid && (itemForm.controls.nameAr.dirty || itemForm.controls.nameAr.touched)}"
                [formControl]="itemForm.controls['nameAr']" id="alias" placeholder="Enter Name Arabic">
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.nameAr.errors && (itemForm.controls.nameAr.dirty || itemForm.controls.nameAr.touched)">
                <div *ngIf="itemForm.controls.nameAr.errors.required">Name in arabic required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="required" for="name">Unit Price</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': itemForm.controls.unitPrice.invalid && (itemForm.controls.unitPrice.dirty || itemForm.controls.unitPrice.touched)}"
                [formControl]="itemForm.controls['unitPrice']" id="alias" placeholder="Enter Unit Price">
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.unitPrice.errors && (itemForm.controls.unitPrice.dirty || itemForm.controls.unitPrice.touched)">
                <div *ngIf="itemForm.controls.unitPrice.errors.required">Unit price required</div>
                <div *ngIf="itemForm.controls.unitPrice.errors.pattern">Unit price invalid</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="required" for="ccmonth">Tax Type</label>
              <select
                [ngClass]="{'is-invalid': itemForm.controls.taxType.invalid && (itemForm.controls.taxType.dirty || itemForm.controls.taxType.touched)}"
                [formControl]="itemForm.controls['taxType']" class="form-control" id="region"
                (change)="taxTypeChange($event)">
                <option *ngFor="let taxType of taxTypeList" [value]="taxType.code">{{ taxType.name }}</option>
              </select>
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.taxType.errors && (itemForm.controls.taxType.dirty || itemForm.controls.taxType.touched)">
                <div *ngIf="itemForm.controls.taxType.errors.required">Tax type required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="required" for="name">Tax Value</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': itemForm.controls.tax.invalid && (itemForm.controls.tax.dirty || itemForm.controls.tax.touched)}"
                [formControl]="itemForm.controls['tax']" id="alias" placeholder="Enter Tax Percentage">
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.tax.errors && (itemForm.controls.tax.dirty || itemForm.controls.tax.touched)">
                <div *ngIf="itemForm.controls.tax.errors.required">Tax value required</div>
                <div *ngIf="itemForm.controls.tax.errors.pattern">Tax value invalid</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="required" for="ccmonth">Category</label>
              <select
                [ngClass]="{'is-invalid': itemForm.controls.categoryId.invalid && (itemForm.controls.categoryId.dirty || itemForm.controls.categoryId.touched)}"
                [formControl]="itemForm.controls['categoryId']" class="form-control" id="region">
                <option *ngFor="let category of categoryList" [value]="category.id">{{ category.nameEn }}</option>
              </select>
              <div class="invalid-feedback"
                *ngIf="itemForm.controls.categoryId.errors && (itemForm.controls.categoryId.dirty || itemForm.controls.categoryId.touched)">
                <div *ngIf="itemForm.controls.categoryId.errors.required">Category required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="date-input">Deactivation Date</label>
              <input class="form-control" [formControl]="itemForm.controls['deactivationDate']" id="date-input"
                type="date" name="date-input" placeholder="date">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="name">Avatar</label>
              <input type="file" class="form-control" (change)="uploadAttachment($event.target.files,'avatar')"
                id="alias" placeholder="Upload item Image">
              <div class="image-warning">
                <div>Max size allowed 1MB, Accepted file types PNG, JPEG</div>
                <div *ngIf="this.itemForm.controls['avatar'].value">Uploaded File: <a
                    [href]="this.itemForm.controls['avatar'].value" target="_blank"><i
                      class="cil-cloud-download"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Description</label>
              <textarea [formControl]="itemForm.controls['description']" class="form-control" rows="4" cols="50">
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <button style="margin: 2px;" type="button" class="btn btn-primary px-4" (click)="update()">Save</button>
              <button style="margin: 2px;" type="button" class="btn btn-success px-4"
                (click)="showTable = !showTable; this.itemForm.reset();">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>