<div style="background-color: white;" *ngIf="isLoaded">
  <div class="row">
    <div class="col-sm-12 col-md-12" style="text-align: center;">
      <img [src]="qrInfo.logo" style="width: 150px;" alt="rest Logo" />
    </div>
  </div>
  <div class="row" *ngIf="qrInfo.categoryList && qrInfo.categoryList.length > 0 && currentItemList.length == 0">
    <div class="col-sm-4" *ngFor="let category of qrInfo.categoryList">
      <div class="product-card">
        <div class="card  z-depth-4">
          <div class="card-image">
            <img
              [src]="category.avatar ? category.avatar : 'https://www.ecpgr.cgiar.org/fileadmin/templates/ecpgr.org/Assets/images/No_Image_Available.jpg'"
              alt="product-img">
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <strong>{{ category.nameEn}}</strong>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <button type="button" class="btn btn-sm btn-primary" (click)="viewItem(category)">View Item</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="currentItemList.length > 0">
    <div class="col-sm-4" style="text-align: center;">
      <button type="button" class="btn btn-sm btn-danger" (click)="viewCategoty()">Back</button>
    </div>
  </div>
  <div class="row" *ngIf="currentItemList.length > 0">
    <div class="col-sm-4" *ngFor="let item of currentItemList">
      <div class="product-card">
        <div class="card  z-depth-4">
          <div class="card-image">
            <a href="#" class="btn-floating btn-large price waves-effect waves-light brown darken-3">{{ item.unitPrice}}
              JD</a>
            <img
              [src]="item.avatar ? item.avatar : 'https://www.ecpgr.cgiar.org/fileadmin/templates/ecpgr.org/Assets/images/No_Image_Available.jpg'"
              alt="product-img">
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <strong>{{ item.nameEn}}</strong>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <p>
                  {{ item.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>