<div *ngIf="dashboardData" class="animated fadeIn">
  <div class="row mr-bottom">
    <div class="col-sm-12 col-lg-12">
      <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
        <label class="btn btn-outline-info" [(ngModel)]="radioModel" (click)="findDashboard('DAILY')" btnRadio="Day"
          id="option1">Day</label>
        <label class="btn btn-outline-info" [(ngModel)]="radioModel" (click)="findDashboard('MONTHLY')" btnRadio="Month"
          id="option2">Month</label>
        <label class="btn btn-outline-info" [(ngModel)]="radioModel" (click)="findDashboard('YEARLY')" btnRadio="Year"
          id="option3">Year</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Orders Volume &amp; Value
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-info">
                    <small class="text-muted">All Orders</small>
                    <br>
                    <strong class="h4">{{ dashboardData.allOrder.count }}</strong>
                    <br>
                    <strong class="h4">{{ dashboardData.allOrder.value }} {{ "JD"}}</strong>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Pending Orders</small>
                    <br>
                    <strong class="h4">{{ dashboardData.pendingOrder.count }}</strong>
                    <br>
                    <strong class="h4">{{ dashboardData.pendingOrder.value }} {{ "JD"}}</strong>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->
            </div>
            <!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Closed Orders</small>
                    <br>
                    <strong class="h4">{{ dashboardData.closedOrder.count }}</strong>
                    <br>
                    <strong class="h4">{{ dashboardData.closedOrder.value }} {{ "JD"}}</strong>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Canceled Orders</small>
                    <br>
                    <strong class="h4">{{ dashboardData.canceledOrder.count }}</strong>
                    <br>
                    <strong class="h4">{{ dashboardData.canceledOrder.value }} {{ "JD"}}</strong>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <div class="card-columns cols-2">
    <!-- Bar Chart -->
    <div class="card">
      <div class="card-header">
        Bar Chart
        <div class="card-header-actions">
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="card">
      <div class="card-header">
        Pie Chart
        <div class="card-header-actions">
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>

    <!-- line Chart -->
    <div class="card">
      <div class="card-header">
        Line Chart (JD)
        <div class="card-header-actions">
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColours" [legend]="lineChartLegend"
            [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>

    <!-- Doughnut Chart -->
    <div class="card">
      <div class="card-header">
        Doughnut Chart (JD)
        <div class="card-header-actions">
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>



  <!-- Top 10 waitres-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Top 10 Items
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead>
              <tr>
                <th>Code</th>
                <th>Icon</th>
                <th>Name English</th>
                <th>Name Arabic</th>
                <th>Unit Price</th>
                <th>Category</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="dashboardData.topTenItem.length === 0">
                <td style="text-align: center;color: red" colspan="8">
                  "No data found"
                </td>
              </tr>
              <tr *ngFor="let item of dashboardData.topTenItem">
                <td data-title="Code"> {{ item.code }}</td>
                <td> 
                  <img class="image-table" [src]="item.avatar ? item.avatar : 'https://www.ecpgr.cgiar.org/fileadmin/templates/ecpgr.org/Assets/images/No_Image_Available.jpg'"alt="product-img">
                </td>
                <td data-title="Name English"> {{ item.nameEn }}</td>
                <td data-title="Name Arabic"> {{ item.nameAr }}</td>
                <td data-title="Unit Price"> {{ item.unitPrice }} {{ "JOD" }}</td>
                <td data-title="Category"> {{ item.categoryName }}</td>
                <td data-title="Status">
                  <span *ngIf="item.status == 'ACTIVE'" class="badge badge-success">Active</span>
                  <span *ngIf="item.status == 'INACTIVE'" class="badge badge-warning">Inactive</span>
                </td>
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

  <!-- Top 10 Tabels-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Top 10 Tables
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead>
              <tr>
                <th>Code</th>
                <th>Table Name</th>
                <th>Create Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="dashboardData.topTenQr.length === 0">
                <td style="text-align: center;color: red" colspan="5">
                  "No data found"
                </td>
              </tr>
              <tr *ngFor="let qr of dashboardData.topTenQr">
                <td>
                  <a target="_blank" [href]="qr.code">
                    <!-- <qrcode [qrdata]="qr.code" [width]="128" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode> -->
                    <qr-img img="{{ qrLogo }}" content="{{ qr.code }}" 
                  size="150"
                  img-width="30"
                  img-height="30"
                  (change)="someFunction($event)">
                </qr-img>
                  </a>
                </td>
                <td data-title="Table Name"> {{ qr.alias }}</td>
                <td data-title="Create Date"> {{ qr.createDate  | date:'short' }}</td>
                <td data-title="Status">
                  <span *ngIf="qr.status == 'ACTIVE'" class="badge badge-success">Active</span>
                  <span *ngIf="qr.status == 'INACTIVE'" class="badge badge-warning">Inactive</span>
                </td>
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Top 10 waitres-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Top 10 Users
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead>
              <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>User Type</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="dashboardData.topTenUser.length === 0">
                <td style="text-align: center;color: red" colspan="6">
                  "No data found"
                </td>
              </tr>
              <tr *ngFor="let user of dashboardData.topTenUser">
                <td> {{ user.username }}</td>
                <td> {{ user.firstName }} {{ user.lastName }}</td>
                <td> {{ user.email }}</td>
                <td> {{ user.mobileNumber }}</td>
                <td> {{ user.userType == 'WAITRESS' ? 'Waitress' :'Super Admin' }}</td>
                <td>
                  <span *ngIf="user.status == 'ACTIVE'" class="badge badge-success">Active</span>
                  <span *ngIf="user.status == 'INACTIVE'" class="badge badge-warning">Inactive</span>
                </td>
                <td>
                  <button (click)='editUser(user)' type="button" class="btn btn-ghost-primary"><i class="cil-pen"></i></button>
                  <button (click)='activeOrInactive(user)' type="button" class="btn btn-ghost-warning"><i class="cil-power-standby"></i></button>
                  <button (click)='deleteUser(user)' type="button" class="btn btn-ghost-danger"><i class="cil-trash"></i></button>
                </td>
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>