<div [@fadeInOutTranslate] class="col-lg-12">
    <form [formGroup]="settingForm" (ngSubmit)="save()">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10">
              <h6>setting</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="required"for="name">Brand English</label><a href="https://translate.google.jo/" target="_blank"><i class="cil-translate"></i></a>
                <input type="text" class="form-control" [ngClass]="{'is-invalid': settingForm.controls.brandNameEn.invalid && (settingForm.controls.brandNameEn.dirty || settingForm.controls.brandNameEn.touched)}" [formControl]="settingForm.controls['brandNameEn']" id="alias" placeholder="Enter Name English">
                <div class="invalid-feedback" *ngIf="settingForm.controls.brandNameEn.errors && (settingForm.controls.brandNameEn.dirty || settingForm.controls.brandNameEn.touched)">
                  <div *ngIf="settingForm.controls.brandNameEn.errors.required">Name in english required</div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="required" for="name">Brand Arabic</label><a href="https://translate.google.jo/" target="_blank"><i class="cil-translate"></i></a>
                <input type="text" class="form-control" [ngClass]="{'is-invalid': settingForm.controls.brandNameAr.invalid && (settingForm.controls.brandNameAr.dirty || settingForm.controls.brandNameAr.touched)}" [formControl]="settingForm.controls['brandNameAr']" id="alias" placeholder="Enter Name Arabic">
                <div class="invalid-feedback" *ngIf="settingForm.controls.brandNameAr.errors && (settingForm.controls.brandNameAr.dirty || settingForm.controls.brandNameAr.touched)">
                  <div *ngIf="settingForm.controls.brandNameAr.errors.required">Name in arabic required</div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="required" for="name">Service Fees</label>
                <input type="number" class="form-control" [ngClass]="{'is-invalid': settingForm.controls.serviceFees.invalid && (settingForm.controls.serviceFees.dirty || settingForm.controls.serviceFees.touched)}" [formControl]="settingForm.controls['serviceFees']" id="alias" placeholder="Enter Service Fees">
                <div class="invalid-feedback" *ngIf="settingForm.controls.serviceFees.errors && (settingForm.controls.serviceFees.dirty || settingForm.controls.serviceFees.touched)">
                  <div *ngIf="settingForm.controls.serviceFees.errors.required">Service fees required</div>
                </div>
              </div>
            </div>
            <div class="col-sm-3"> 
              <div class="form-group">
                <label for="name">Logo</label>
                <input type="file" class="form-control" (change)="uploadAttachment($event.target.files,'logo')" id="alias" placeholder="Upload Logo Image">
                <div class="image-warning">
                  <div>Max size allowed 1MB, Accepted file types PNG, JPEG</div>
                  <div *ngIf="this.settingForm.controls['logo'].value">Uploaded File: <a [href]="this.settingForm.controls['logo'].value" target="_blank"><i class="cil-cloud-download"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <button style="margin: 2px;" type="button" class="btn btn-success px-4"
                  (click)="addSpecs()">Add Spcification</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="specsList && specsList.length > 0" [@fadeInOutTranslate] class="col-lg-12">
    <form [formGroup]="settingForm" (ngSubmit)="save()">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10">
              <h6>Item Spcification</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngFor="let specs of specsList" class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="required"for="name">Alias</label>
                <input type="text" class="form-control" 
                      [formControl]="settingForm.controls['alias' + (specs.counter)]" 
                      id="alias" placeholder="Enter Alias"
                      (blur)="setAlias(specs)">
              </div>
            </div>
            <div class="col-sm-3">
              <button (click)="openDialog(specs)" type="button" class="btn btn-brand btn-sm btn-facebook mr-1" style="margin-top: 33px">
                <span>Add Details</span>
              </button>
            </div>
            <div *ngIf="specs.detailList && specs.detailList.length > 0" class="col-sm-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name En</th>
                    <th>Name Ar</th>
                    <th>Unit Price</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="specs.detailList.length === 0">
                    <td style="text-align: center;color: red" colspan="5">
                      "No data found"
                    </td>
                  </tr>
                  <tr *ngFor="let detail of specs.detailList">
                    <td> {{ detail.nameEn }}</td>
                    <td> {{ detail.nameAr }}</td>
                    <td> {{ detail.unitPrice }}</td>
                    <td>
                      <button (click)='edit(specs,detail)' type="button" class="btn btn-ghost-primary"><i class="cil-pen"></i></button>
                      <button (click)='delete(specs,detail)' type="button" class="btn btn-ghost-danger"><i class="cil-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>


  <form [formGroup]="settingForm">
    <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Detail Info</h4>
            <button type="button" class="close" (click)="closeModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Name English</label>
                  <input type="text" class="form-control" [formControl]="settingForm.controls['nameEn']"  value="{{ detailInfo.nameEn }}" id="alias" placeholder="Enter name english">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Name Arabic</label>
                  <input type="text" class="form-control" [formControl]="settingForm.controls['nameAr']"  value="{{ detailInfo.nameAr }}" id="alias" placeholder="Enter name arabic">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Unit Price</label>
                  <input type="number" class="form-control" [formControl]="settingForm.controls['unitPrice']"  value="{{ detailInfo.unitPrice }}" id="alias" placeholder="Enter unit price">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            <button type="button" class="btn btn-primary" (click)="addDetail()">Save</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
  </form>

  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <button style="margin: 2px;" type="button" class="btn btn-primary px-4" (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
  
 