// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');

.card-right-button{
    text-align: right;
}

.coolQRCode {
    filter: drop-shadow(3px 3px 3px #999);
    img {
       width: 250px;
    }
 }

 .form-error {
    border:1px solid red;
 }

 .required:after {
    content:" *";
    color: red;
}

.image-warning {
    color: rgb(255, 136, 0);
}


.google-translate:after {
    content:"";
}